In [125]:
import pandas as pd

In [126]:
predata = pd.read_csv("test_data.csv")
predata.head()

,Unnamed: 0,recordid,SAPS-I,SOFA,Length_of_stay,Survival,In-hospital_death,Age,Gender,Height,...,TroponinT_last,WBC_last,Weight_last,pH_last,MechVentStartTime,MechVentDuration,MechVentLast8Hour,UrineOutputSum,predictions,1
0,0,142675,27,14,9,1,1,70,1.0,175.3,...,NaN,6.1,NaN,7.38,99.0,2559.0,1.0,13.0,1,0.806788
1,1,142676,12,1,31,1,0,57,0.0,NaN,...,NaN,15.1,NaN,NaN,NaN,NaN,NaN,NaN,0,0.060746
2,2,142680,12,7,17,1,1,60,1.0,182.9,...,NaN,17.6,79.5,7.45,207.0,2570.0,1.0,20.0,0,0.486375
3,3,142683,19,15,17,-1,0,64,1.0,180.3,...,NaN,18.3,NaN,7.36,374.0,2420.0,1.0,14.0,1,0.576793
4,4,142688,3,0,9,-1,0,51,1.0,172.7,...,NaN,12.5,NaN,7.37,NaN,NaN,NaN,NaN,0,0.082024

In [127]:
predata.shape

(4000, 123)

In [128]:
data = predata.sort_values(by="1",ascending=True)
data

,Unnamed: 0,recordid,SAPS-I,SOFA,Length_of_stay,Survival,In-hospital_death,Age,Gender,Height,...,TroponinT_last,WBC_last,Weight_last,pH_last,MechVentStartTime,MechVentDuration,MechVentLast8Hour,UrineOutputSum,predictions,1
646,646,144274,9,4,3,1,0,45,1.0,NaN,...,NaN,3.4,NaN,NaN,NaN,NaN,NaN,NaN,0,0.026241
1811,1811,147216,5,0,9,-1,0,57,0.0,NaN,...,NaN,7.7,NaN,NaN,NaN,NaN,NaN,NaN,0,0.031363
269,269,143344,4,-1,4,-1,0,58,1.0,177.8,...,11.26,13.1,88.5,NaN,NaN,NaN,NaN,NaN,0,0.031694
244,244,143293,2,6,12,-1,0,36,1.0,NaN,...,NaN,8.0,113.0,7.33,NaN,NaN,NaN,NaN,0,0.032735
1674,1674,146885,5,0,3,-1,0,32,0.0,177.8,...,2.69,8.8,120.0,7.33,NaN,NaN,NaN,NaN,0,0.032824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,2394,148727,25,12,3,1,1,90,1.0,NaN,...,8.42,15.5,NaN,7.42,1086.0,1725.0,1.0,11.0,1,0.979030
3241,3241,150920,24,13,3,1,1,68,1.0,157.5,...,NaN,19.2,NaN,7.35,17.0,2858.0,1.0,17.0,1,0.979327
1734,1734,147027,23,14,2,1,1,56,1.0,152.4,...,NaN,14.1,NaN,7.41,63.0,2540.0,1.0,19.0,1,0.980892
1775,1775,147135,24,13,3,1,1,82,0.0,160.0,...,0.22,12.0,NaN,7.34,178.0,2412.0,1.0,11.0,1,0.986943
3209,3209,150804,27,22,3,1,1,51,1.0,NaN,...,NaN,20.9,107.0,7.23,1.0,2750.0,1.0,19.0,1,0.988949

In [129]:
z=400
# 计算一部分的H
def calculateHValue(O,E,P,Ng=z):
    Og = O.count(1)
    Eg = E.count(1)
    PIg = (sum(P))/Ng
    print(Og,Eg,PIg)
    return (Og-Eg)*(Og-Eg)/(Ng*PIg*(1-PIg) + 0.001)

In [130]:
data.shape[0]/z

10.0

In [131]:
sumH = 0.0
for i in range(int(data.shape[0]/z)):
    caculate_data = data[i*z:i*z+z]
    sumH += calculateHValue(caculate_data["In-hospital_death"].to_list(),
        caculate_data["predictions"].to_list(),caculate_data["1"].to_list())
print("排序后的result：",sumH)

4 0 0.058810252100229256
19 0 0.08588054101914168
29 0 0.14064928034320473
55 0 0.35040589194744826
4 0 0.465005271807313
12 0 0.4701969186216593
23 0 0.4813413769006729
63 254 0.5044111413508654
92 400 0.552423600256443
267 400 0.7617215991020203
排序后的result： 1637.3936349713163

In [132]:
sumH = 0.0
for i in range(int(data.shape[0]/z)):
    caculate_data = predata[i*z:i*z+z]
    sumH += calculateHValue(caculate_data["Survival"].to_list(),
        caculate_data["predictions"].to_list(),caculate_data["1"].to_list())
print("排序前的result：",sumH)

150 94 0.37690366548486054
153 110 0.3799900558590889
142 110 0.39688242121599615
163 101 0.37410430546849965
142 114 0.3745559811219573
161 113 0.4002832178585231
151 94 0.38869585243053734
159 109 0.3986102438531816
149 106 0.3865101418364793
146 103 0.3943099883198738
排序前的result： 236.20429140653752